@charset "UTF-8";

/* configurações para dispositivos abaixo de 800px*/

@media screen and (max-width: 800px){

    body {
        text-align: center;
        background-color: white;
    }

    nav > img#small {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    main {
        margin: auto;
        width: 500px;
    }

}